@tailwind base;
@tailwind components;
@tailwind utilities;

.blockPlace {
    border: 1px solid red;
    display: block;
    width: 10px;
    height: 10px;
}

.placeHaut {
    width: 100%;
    /*height: 100%;*/
    height: 900px;
}

.blockPlaceHaut {
    transform: translateX(100px);
}

.blockPlaceGauche {
    padding-top: 100px;
}

.blockPlaceDroit {
    padding-top: 100px;
    transform: translateX(850px);
}

.blockPlaceActive {
    background-color: green;
}

.placeReserve {
    background-color: red;
}


.bouttonReservation {
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.bouttonReservation:hover {
    background-color: #be0000;
    color: white;
    border: 1px solid #be0000;
}

.rip {
    border-style: dotted;
}

.listRow {
    padding-right: 10px;
}

#ReservationBouton {
    /*height: 850px;*/
}

/*.imgartiste {*/
/*    !*max-height:300px;*!*/
/*    height: 240px !important;*/
/*    padding-bottom:10px;*/
/*}*/
.blockligne {
    max-width:300px;
    width:300px;
}

.supbouton {
    padding-left: 10px;
    display:flex;
    height:20px;
}

.imgsup{
    height:20px;
}

.artiseName {
    position: absolute;
    transform:translateY(-200px) translateX(30px);
    color:white;
    opacity:0.5;
    transition: all 0.3s ease;

}
img:hover ~ .artiseName, .artiseName:hover {
    opacity:1;
    transition: all 0.3s ease;

}

.artiseDescription {
    position: absolute;
    transform:translateY(-150px) translateX(30px);
    opacity:0.5;
    width:250px;
    color:white;
    transition: all 0.3s ease;

}
img:hover ~ .artiseDescription,.artiseDescription:hover {
    opacity:1;
    transition: all 0.3s ease;

}